<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/dashboard.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Admin Dashboard</h1>
      <h4 class="text-center">
        Welcome to your control panel<br />
        Control your store with ease.
      </h4>
    </div>
    <div class="row">
      <div class="col-4 offset-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">KICK-PULSE</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/products">Products</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/dashboard/suppliers">Suppliers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/users">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/orders">Orders</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- <main class="container">
      <div class="row">
        <div class="tabs col-2 list-group">
          <a href="#" class="list-group-item list-group-item-action active">
            Add user
          </a>
          <a href="#" class="list-group-item list-group-item-action"
            >Dapibus ac facilisis in</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Morbi leo risus</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Porta ac consectetur ac</a
          >
          <a href="#" class="list-group-item list-group-item-action disabled"
            >Vestibulum at eros</a
          >
        </div>
        <div class="col-8"></div>
      </div>
    </main> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>
