body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    direction: rtl;
    text-align: center;
}

.mid {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myVideo {
    max-width: 100%;
    height: auto;
}

.shopnow {
    position: absolute;
    right: 300px;
    bottom: -290px;
    background-color: white;
    color: black;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 17px;
    transition: background-color 0.5s ease;
}

.shopnow:hover {
    background-color: black;
    color: white;
}

.adidasbtn,
.nikebtn,
.newbalancebtn,
.conversebtn,
.vansbtn,
.jordanbtn,
.oncloudbtn {
    background-color: white;
    border: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px; /* גובה מוקטן לכל הכפתורים */
}

.adidasbtn img,
.nikebtn img,
.newbalancebtn img,
.conversebtn img,
.vansbtn img,
.jordanbtn img,
.oncloudbtn img {
    max-height: 100%; /* התאמת גובה התמונה לגובה הכפתור */
    width: auto;
    object-fit: contain; /* שמירה על יחס גובה-רוחב של התמונות */
}

button:hover {
    cursor: pointer;
}

.slide-brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    direction: ltr;
}

.slide-brand {
    display: flex;
    gap: 5px;
    overflow: hidden;
    width: calc(25% * 4);
    transition: transform 0.5s ease-in-out;
}

.slide-brand button {
    flex: 0 0 25%;
    transition: opacity 0.5s ease-in-out;
}
.slide-brand :hover {
    transform: scale(1.08);
}
.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.slider-button {
    background: transparent;
    display: flex;
    border: none;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
}

.btnjust {
    padding: 15px 30px;
    margin: 20px 10px 0;
    border: none;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}

.btnjust:hover {
    text-decoration: underline;
}

.just-Dropped {
    padding: 40px;
    position: relative;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px; 
}

.just-Dropped h1 {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    font-weight: normal;
}

.product-grid-container {
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.product-card img {
    width: 100%;
    height: 150px; /* הקטנת גובה התמונה */
    object-fit: cover;
}

.product-info {
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-info h3,
.product-info p,
.product-info .price {
    margin: 5px 0;
}

.product-info .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-info .new-badge {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.brand-grid-container {
    padding: 70px;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.brand-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-card img {
    width: 100%;
    height: auto;
    display: block;
}

.brand-card h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 4px;
}

.brand-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.shopbranch {
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.shopbranch:hover {
    cursor: pointer;
    text-decoration: underline;
}

.endpage img {
    width: 500px;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 50px;
}

h1 {
    color: #333;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    text-align: right;
    margin-bottom: 5px;
    font-size: 14px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.checkbox-container input {
    margin-left: 10px;
}
.checkbox-container label {
    margin: 0;
    font-size: 14px;
}
button {
    padding: 10px;
    font-size: 18px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer {
    width: 100%;
    background-color: white;
    border-top: 0.5px solid black;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.1); /* הוספת צל ל-border */    
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-column {
    text-align: center;
}

.footer-column h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ddd;
}

.sign a {
    color: black;
    transition: transform 0.5s ease;
}

.sign a:hover {
    cursor: pointer;
    color: blue;   
}

.logo-photo img {
    width: 10vw; /* Use viewport width for resizing */
}

.logo-photo {
    position: relative;
    width: 100%;
    left: 95%;
    transform: translateX(-50%);
    top: 2vw; /* Use viewport width for positioning */
}

.topleft {
    position: relative;
    right: 44%;
    font-size: 1.5vw; /* Adjust the font size proportionally */
}

.buttons-top {
    position: relative;
    bottom: 6vw; /* Adjust based on viewport size */
    gap: 1vw; /* Adjust gap based on viewport size */
    left: 5%;
}

.buttons-top button {
    background-color: transparent;
    border: none;
    font-size: 1.5vw; /* Adjust font size proportionally */
}

.buttons-top button:hover {
    cursor: pointer;
}

.shopping-bag {
    position: fixed;
}

.sign {
    top: 1vw; /* Adjust based on viewport size */
    position: relative;
    font-size: 1.5vw; /* Adjust font size proportionally */
}

.search-container {
    position: relative;
    border: 0.1vw solid black; /* Adjust border thickness proportionally */
    border-radius: 0.7vw; /* Adjust border radius proportionally */
    width: fit-content;
    right: 30%;
    bottom: 7vw; /* Adjust based on viewport size */
}

#input_ {
    background-color: transparent;
    border: none;
    padding: 1vw; /* Adjust padding proportionally */
    font-size: 1.5vw; /* Adjust font size proportionally */
}

#input_:hover,
#input_:focus,
#input_:active {
    outline: none;
    border: none;
}

.searchbox button {
    background-color: transparent;
    border: none;
    align-items: center;
    font-size: 1.5vw; /* Adjust font size proportionally */
}

.bi.bi-search {
    position: relative;
    top: 0.3vw; /* Adjust based on viewport size */
}

.searchbox button:hover {
    cursor: pointer;
}

.selection-topbuttons {
    display: flex;
    gap: 2vw; /* Adjust gap as per your preference */
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.selection-topbuttons .dropdown {
    position: relative;
    display: inline-block;
}

.selection-topbuttons .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.selection-topbuttons .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.selection-topbuttons .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.selection-topbuttons .dropdown:hover .dropdown-content {
    display: block;
}

.selection-topbuttons button {
    border: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 1vw 2vw; /* Use viewport units for padding */
    font-size: 1.5vw; /* Use viewport units for font size */
    position: relative;
    cursor: pointer;
}

.dropbtn {
    font-size: 1.5vw; /* Use viewport units for font size */
}
