body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    direction: rtl;
    text-align: center;
}

.top {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    position: relative;
}

.logo-photo {
    padding: 10px;
}

.logo-photo img {
    margin-top: auto;
    width: 130px;
    position: relative;
}

.buttons-top {
    display: flex;
    gap: 10px;
    padding: 10px;
    order: -1;
    position: absolute;
    top: 10px;
    left: 10px;
}

.buttons-top button {
    background-color: transparent;
    border: none;
    align-content: center;
    padding: 0;
}

.buttons-top button svg {
    width: 20px;
    height: 24px;
    fill: currentColor;
}

.buttons-top button:hover {
    cursor: pointer;
}

.selection-topbuttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.selection-topbuttons .dropdown {
    position: relative;
    display: inline-block;
}

.selection-topbuttons .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.selection-topbuttons .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.selection-topbuttons .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.selection-topbuttons .dropdown:hover .dropdown-content {
    display: block;
}

.selection-topbuttons button {
    border: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.dropbtn {
    font-size: 18px;
}

.mid {
    flex: 1;
    padding: 20px;
}

.privacy_text {
    max-width: 800px;
    margin: auto;
    text-align: left;
    line-height: 1.5;
    direction: ltr; /* כיוון הטקסט משמאל לימין */
    unicode-bidi: embed; /* הגדרה של unicode-bidi */
}

.privacy_text h1, .privacy_text h2 {
    text-align: center;
    margin-top: 20px;
}

.privacy_text p, .privacy_text ul {
    margin-bottom: 20px;
}

.privacy_text ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer-column {
    text-align: center;
}

.footer-column h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ddd;
}
.tophead
{
background-color: rgb(88, 3, 3);
color: white;
width: 100%;
padding: 20px;
border-bottom: 2px solid black;
}