<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="privacy.css">
    <title>Privacy Policy</title>
</head>
<body>
    <div class="top">
        <div class="logo-photo">
            <img src="../../photos/logo.png" alt="Kickpulse Logo">
        </div>
        <div class="buttons-top">
            <button class="shopping-bag">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
            </button>
            <button class="member">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
            </button>
        </div>
        <div class="selection-topbuttons">
            <div class="dropdown">
                <button class="dropbtn">RELEASES</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">BRANDS</button>
                <div class="dropdown-content">
                    <a href="#">Adidas</a>
                    <a href="#">Nike</a>
                    <a href="#">Jordan</a>
                    <a href="#">New Balance</a>
                    <a href="#">Converse</a>
                    <a href="#">Vans</a>
                    <a href="#">On Cloud</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">KIDS</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">WOMEN</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">MEN</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">NEW</button>
            </div>
        </div>
    </div>
    <div class=tophead>
        !A Wise Sneakerhead Once Said: One Pair is Never Enough
    </div>
    <div class="mid">
        <div class="privacy_text">
            <h1>Privacy Policy</h1>
            <p>We highly value your privacy and have therefore prepared this document describing the privacy policy and the way "Kick Pulse" uses the information provided by you or collected by it during your use of the website.</p>

            <h2>Consent</h2>
            <p>By using the website, you give your consent to Kick Pulse to collect and store information about you in the company's database, including sensitive information as defined by applicable privacy laws - whether it is provided directly by you or received or generated indirectly (including browsing history, credit card data, consumption habits, information or advertisements read on the site, web pages viewed, computer locations, IP address, etc.).</p>

            <h2>Provision of Information</h2>
            <p>It should be emphasized that you are not legally obligated to provide information, but providing incorrect details, or not providing all the required details may, among other things, affect your user experience on the site and, in some cases, the ability of Kick Pulse to provide you with the requested service.</p>

            <h2>Voluntary Submission</h2>
            <p>By using the site, you acknowledge that providing the information is done voluntarily and with your free consent and constitutes your consent for Kick Pulse to use this information in accordance with the law and this privacy policy.</p>

            <h2>Use of Information</h2>
            <p>You understand that Kick Pulse may use this information and perform statistical and/or other analyses on it, all at its sole discretion and subject to any law, including for the purposes outlined below:</p>
            <ul>
                <li>To allow you to use the website and the services offered through it;</li>
                <li>To update and/or modify the website and improve it;</li>
                <li>To customize the services provided on the website to your needs and preferences;</li>
                <li>To contact you when Kick Pulse deems it necessary;</li>
                <li>To periodically send you information and updates regarding the website and your personal information, as well as to send you marketing information, advertisements, and/or offers for services and/or products that may interest you and/or your family members;</li>
                <li>For data enrichment, including internal enrichment and cross-referencing of your information with additional data held in Kick Pulse's databases, subject to the law;</li>
                <li>For internal purposes, such as analyzing aggregate information regarding purchasing patterns and user behavior, and for investigating complaints and/or reviews, including through "cookies". Each user can redefine their browser to refuse all cookies or to indicate when a cookie is being sent. However, it is important to note that some parts of the website may not function properly if a user refuses to accept cookies;</li>
                <li>To protect the interests, rights, and assets of Kick Pulse or third parties;</li>
                <li>To comply with legal obligations or judicial orders applicable to Kick Pulse;</li>
                <li>For any other purpose specified and/or implied by this policy.</li>
            </ul>

            <h2>Safeguarding Information</h2>
            <p>Kick Pulse commits to safeguarding the information, not to trade or sell or transfer this information to others without your prior consent, except in the following cases:</p>
            <ul>
                <li>To comply with the law, including any legislation, law, treaty, ordinance, regulation, order, official instruction, administrative instruction, circular, and/or guideline of any governmental or regulatory body;</li>
                <li>In the case of a complaint and/or request concerning the use of the website and/or to address security and/or technical issues on the site;</li>
                <li>In the case of a legal or business dispute between you and Kick Pulse;</li>
                <li>To respond to claims by third parties;</li>
                <li>To protect the rights or interests of Kick Pulse or the users of the site;</li>
                <li>In cases where the use of the site is contrary to the terms of service and/or any law;</li>
                <li>Transferring non-personally identifiable information, primarily browsing habits and statistical information, to third parties;</li>
                <li>Transferring information to third parties providing services related to the operation of the website (such as hosting services, servers, email operations, data security, and management, etc.);</li>
                <li>In any case where Kick Pulse sells, assigns, or transfers parts of its business or all its business and/or assets to a third party, or if it is acquired or merged with a third party, or if it enters into bankruptcy or insolvency proceedings.</li>
            </ul>

            <h2>Dissolution</h2>
            <p>It is clarified that if Kick Pulse is dissolved for any reason, the information will continue to be held and used by the company for all purposes.</p>

            <h2>Transfer of Information</h2>
            <p>Kick Pulse may transfer information about you outside your jurisdiction, including for cloud storage purposes. The data protection and privacy laws in the jurisdiction to which the personal data will be transferred may not be as comprehensive as those in your jurisdiction, in which case Kick Pulse will take steps to ensure a similar level of protection for your personal information. By using the site, you agree to such transfer.</p>

            <h2>Review and Correction</h2>
            <p>You are entitled to review any information about you held in Kick Pulse's database (yourself or through a person authorized by you in writing or by your legal guardian). To review the information, you are requested to contact Kick Pulse via the communication channels published on the website.</p>
            <p>If you reviewed the information and found that it is not correct, complete, clear, or updated, you are entitled to contact Kick Pulse and request to correct or delete the information.</p>

            <h2>Marketing Information</h2>
            <p>Without prejudice to the above, if you decide that you do not wish to receive marketing information as stated in section 4.5 above, you must notify Kick Pulse. In such a case, Kick Pulse will remove you from the distribution list, all in accordance with the applicable communications and privacy laws.</p>

            <h2>Security</h2>
            <p>Kick Pulse makes every effort to secure the information on the website. Kick Pulse does not guarantee and is not liable for the databases, including information you provided, not being breached and such information not reaching unauthorized third parties. As long as it takes reasonable measures, it will not be liable for any damage, of any kind, that may be caused to you, directly or indirectly, as a result of a breach of its databases and/or the website and/or its computers.</p>

            <h2>Acceptance of Policy</h2>
            <p>Your use and browsing of the site constitute agreement to all the provisions of this document. Kick Pulse will not be considered to have violated its privacy commitment or to have infringed on your privacy due to any information that can identify or trace you, resulting from the use of electronic communication means in general and computer communication in particular.</p>

            <h2>Changes to Policy</h2>
            <p>Note: Kick Pulse may change (by way of modification, deletion, removal, addition, including adding terms to this privacy policy from time to time and at its sole discretion). Use of the website after any change will be subject to the privacy policy following the change.</p>

            <h2>Governing Law</h2>
            <p>This privacy policy shall be governed by and construed in accordance with the relevant local law. The competent court in your area of residence shall have exclusive jurisdiction over any matter arising from this privacy policy.</p>

            <p>The use of the masculine form is for convenience only and includes the feminine and plural.</p>
        </div>
    </div>
    <footer>
        <div class="footer-column">
            <h2>Our Brands</h2>
            <ul>
                <li><a href="#">Adidas</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Jordan</a></li>
                <li><a href="#">New Balance</a></li>
                <li><a href="#">Converse</a></li>
                <li><a href="#">Vans</a></li>
                <li><a href="#">On Cloud</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>Customer Service</h2>
            <ul>
                <li><a href="../contect us/contect.html">Contact Us</a></li>
                <li><a href="/stores">Our Stores</a></li>
                <li><a href="../FAQ/faq.html">FAQ</a></li>
                <li><a href="../shipping & returns/shipping.html">Shipping and Returns</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>About the Company</h2>
            <ul>
                <li><a href="../About us/about.html">About Us</a></li>
                <li><a href="../terms and condition/terms.html">Terms and Conditions</a></li>
                <li><a href="../privacy/privacy.html">Privacy Policy</a></li>
                <li><a href="../Accessibility/Accessibilty.html">Accessibility Statement</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
