<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="terms.css">
    <title>Terms of Use & Privacy Policy</title>
</head>
<body>
    <div class="top">
        <div class="logo-photo">
            <img src="../../photos/logo.png" alt="Kickpulse Logo">
        </div>
        <div class="buttons-top">
            <button class="shopping-bag">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
            </button>
            <button class="member">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
            </button>
        </div>
        <div class="selection-topbuttons">
            <div class="dropdown">
                <button class="dropbtn">RELEASES</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">BRANDS</button>
                <div class="dropdown-content">
                    <a href="#">Adidas</a>
                    <a href="#">Nike</a>
                    <a href="#">Jordan</a>
                    <a href="#">New Balance</a>
                    <a href="#">Converse</a>
                    <a href="#">Vans</a>
                    <a href="#">On Cloud</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">KIDS</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">WOMEN</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">MEN</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">NEW</button>
            </div>
        </div>
    </div>
    <div class=tophead>
        !A Wise Sneakerhead Once Said: One Pair is Never Enough
    </div>
    <div class="mid">
        <div class="terms">
            <h1>Terms of Use and Privacy Policy:</h1>
            <p>Welcome to the Kick Pulse LLC website.(hereinafter: "the Company").</p>
            <p>Your use of the website is subject to the terms of use and privacy policy and the website's regulations.</p>
            <p>The text below refers equally to all genders and is written in masculine form for convenience only.</p>
            <p>Under 18? The text below may be a bit complex. Please consult a responsible adult before using the site.</p>
            
            <h2>Use of the Website and Acceptance of Its Terms:</h2>
            <p>1. This document consolidates the terms of use and the privacy policy of the website (hereinafter together: "the Policy"). It aims to present and explain the company's practices regarding user privacy on the website and how the company uses information provided by or collected from users during their use of the website. Note that any use of this website, or linked websites or services available through it, constitutes your consent to the terms of the Policy.</p>
            <p>2. The company reserves the right to change, delete, and/or add to the terms of the Policy at any time without obligation to provide prior or retroactive notice. Therefore, it is recommended to periodically review the current Policy. If you do not agree with the terms of the Policy, in whole or in part, please refrain from using the website.</p>
            <p>3. Links that may be displayed on this site to external or other websites are provided for your convenience only. Any reliance on these sites or their content, use of them, or provision of details through them is the sole responsibility of the user and is subject to the terms of use, regulations, and privacy policies of those sites, separately and independently from these Policy terms. It should be noted that the company reserves the right to remove links displayed on the website at any time or to refrain from adding new links, all at its sole discretion.</p>
            
            <h2>Privacy Policy, Information Collection, and Retention:</h2>
            <p>4. Information Collected:</p>
            <p>4.1 Information knowingly provided by the user, statistical and aggregated information.</p>
            <p>4.2 The user declares and confirms that the information provided and/or collected about them during their interaction with the company will be stored in the company's database and used according to the purposes of the database.</p>
            
            <p>5. Privacy and Information Security:</p>
            <p>5.1 The company respects your privacy and is committed to maintaining the accepted privacy protection standards in Israel.</p>
            <p>5.2 Use of personal information provided by you or collected about you will be made only according to the details in this privacy policy or according to the obligations imposed on the company by law.</p>
            <p>5.3 'Personal Information' in this privacy policy means any identifiable information about you provided or collected about you during your use of the company's website, for registration to services offered through the site, and any identifiable information about your usage of the site.</p>
            
            <p>6. Some services provided on the site require registration and/or direct provision of personal information, for example:</p>
            <p>6.1 To join the company's membership club, you will be asked to provide identifying and personal details such as your name, address, contact methods, and additional details as listed on the registration page.</p>
            <p>6.2 To update membership details or check the balance of club points, you will need to provide your ID number, phone number, and club membership card number.</p>
            
            <p>7. The company may collect and use the information provided by you or collected about you, such as your consumption and behavior patterns, including during your use of the website and/or the services offered through it (hereinafter together: "the collected information"). This is to improve, enrich, or change (including changing the site presented to the user) the site, the services, and the content offered on the site to best suit your preferences. Additionally, the company may use the information for operational, marketing, and statistical purposes to promote the goals of the loyalty club.</p>
            
            <p>8. It is possible that registration for a specific service through the site, including the company's loyalty club or mailing lists or any other matter available or accessible through the site, will require your consent and approval to the terms of that service. In such a case, you will be required to confirm your consent separately on that page/service.</p>
            
            <p>9. You agree that the information provided by you and/or collected about you will be stored in Retailors Ltd.'s databases to manage and improve service and communication with you, for operational, marketing, and statistical needs, including processing information and direct mailing for these purposes, as well as promoting loyalty and providing services to users and club members, and ensuring fair commercial activity according to the law.</p>
            
            <p>10. With your consent, as received according to law, the company may contact you from time to time with direct mailing to receive updates, recipes, offers for products and/or services, promotions, and sales through email, SMS, fax, automatic dialing system, and/or phone, as long as no other notice has been received from you at any time. If you wish to withdraw your consent, please contact the company via the email address provided below along with your request and identifying details.</p>
            
            <p>11. It is clarified that you are not legally obligated to provide the details mentioned above, and their provision depends solely on your free will and consent to receive the requested company services. You will not have any claim and/or demand against the company and its representatives on this matter. However, note that without providing certain details (for example, without entering identifying details when joining the loyalty club), we will not be able to provide the offered services, some or all of them.</p>
            
            <p>12. Information must be provided and/or updated on the site accurately, reliably, and correctly, only in your name and on your behalf, and not in the name and/or on behalf of third parties, except where explicitly and in writing authorized to do so. The company is not responsible for the accuracy of the information and its reliability, and no complaint may be made against it by the parties involved.</p>
            
            <p>13. The site uses automatic tools to profile your use of the site and improve the user experience by collecting non-identifiable data. These tools collect general information about you and your use of the site. This information includes, among other things, details of your internet service provider, your IP address, and the domain used to access the site, the location of the device used to access the site, times and methods of using the site, your browser type, and additional anonymous details indicating how the site is used.</p>
            
            <p>14. Additionally, the company uses files called "Cookies." These files help track visitor preferences and improve the user experience on the site. For example, cookies allow saving the details you entered into various forms, thereby saving you time re-entering the details on your next visit or identifying preferred recipes to present you with appropriate recommendations and tips. The information in the cookies is encrypted, and the company takes precautionary measures to ensure that only its computers or those of its representatives can read and understand the information stored in them.</p>
            
            <p>15. Services may also use third-party cookies – for example, Google cookies such as those embedded using Google Analytics, AdSense, and/or Doubleclick, and tools from Facebook. For more information about using Cookies through third parties, you can visit the following addresses: www.google.com/policies/technologies/types, https://www.google.com/policies/privacy, www.facebook.com/policies/cookies. If you wish to remove yourself from using these or similar tools, you can visit one of the following addresses: http://www.aboutads.info/choices or http://www.youronlinechoices.eu/‎ and remove yourself from the selected services.</p>
            
            <p>16. If you do not wish to receive or activate the "Cookies," you can block them at any time by changing the settings in your browser. Some of the cookie files may expire when you close the browser or application you are using, and others may be saved on your device or computer memory. You can delete the cookie files at any time, even if they are saved on your device. It is advised to do so only if you are sure that you do not want the site, the contents displayed in it, and the services offered through it to be customized to your preferences.</p>
            
            <p>17. By agreeing to this privacy policy, you agree to the use of the described technologies and other technologies as they may be from time to time for similar purposes, including using the information gathered to identify and/or profile you according to them. If you do not agree, please update your device or browser settings according to your preferences as mentioned above.</p>
            
            <p>18. The company strives not to transfer personally identifiable information about you to third parties, except in one or more of the following cases:</p>
                <p class="sub-numbered">18.1 By your explicit request or consent or when registering for a specific service that may require it, with your consent.</p>
                <p class="sub-numbered">18.2 When performing certain actions as part of the services, it may be necessary to transfer information to the necessary service providers to complete the action and/or those executing the action and to the parties involved in that action – such as a delivery company, credit card clearing company, etc. The specific information for the particular engagement between the service requester and the service provider will be kept by the company, and its transfer to the relevant parties to complete the actions will be subject to the requester's consent and willingness to receive the service and/or transfer the information. The company is not responsible for this matter and issues related to transferring the information, and no complaint may be made against it by the parties involved.</p>
                <p class="sub-numbered">18.3 In the case of a legal dispute between you and the company that requires the disclosure of your details and/or if you perform actions contrary to the law on the site and/or in the case of a court order requiring it.</p>
                <p class="sub-numbered">18.4 For conducting statistical analyses and transferring statistical or other information to third parties. Such information will not enable personal identification of you.</p>
                <p class="sub-numbered">18.5 If it is found that you have violated one or more of these terms of use and/or if you perform or attempt to perform actions contrary to the terms of use or any law.</p>
                <p class="sub-numbered">18.6 According to a court order or demand from a competent authority according to the law or to prevent a crime.</p>
                <p class="sub-numbered">18.7 In any case where the company believes that disclosing the information is necessary to prevent severe damage to property and/or person or to prevent other severe harm at its sole discretion.</p>
                <p class="sub-numbered">18.8 In the event the company is sold, transfers, and/or merges its activities with another corporation, provided that the new information recipient accepts these terms of use in full.</p>
            
            <p>19. The company may provide statistical information to third parties, including advertisers, subject to this privacy policy. Statistical information provided to third parties will not identify you personally.</p>
            
            <p>20. The above does not derogate from the company's right to transfer non-personal information that does not identify you by name and/or personal details directly to third parties.</p>
            
            <p>21. According to the Privacy Protection Law, 1981, you, or your authorized representative, are entitled to review the information about you held in the company's database and even request us to correct this information if it is incorrect, complete, or accurate and even delete it in appropriate cases. To exercise this right, please send a request to the company through the contact page on the website or through one of the contact details listed at the end of this document.</p>
            
            <h2>Responsibility for Website Content and Availability:</h2>
            <p>22. The site, including all content and/or services available through it, is provided to you by the company as they are and subject to their availability ('As Is' and 'As Available'). Although the company makes every effort to present accurate and reliable information on the site or through it, the company is not and will not be directly or indirectly responsible for the availability, truthfulness, reliability, and/or accuracy of the content appearing on the site, and reliance on any content presented on the site or through it is your full responsibility.</p>
            
            <p>23. You may use the site and the content available through it for private and personal purposes only. The site content does not grant you any rights other than those detailed in this policy, which constitutes an agreement between you and the company.</p>
            
            <p>24. The site content cannot serve as a basis for financial, legal, personal, and/or other decisions on your part. Any action taken by you based on this content is done at your sole discretion and responsibility.</p>
            
            <p>25. Products, descriptions, designs, colors, or appearances of products and services described or displayed on the site are for illustration purposes only to simulate the desired product as closely and accurately as possible. If you identify a significant difference between the actual appearance of the desired product and the product displayed through the site, please contact us so that we can correct it at the company's sole discretion. In any case, the company will not be responsible in connection with any product and/or recipe and/or recommendations detailed or displayed on the site and through it.</p>
            
            <p>26. The site may publish and detail job ads and vacancies at the company on dedicated pages. These ads or their content do not commit or lead to accepting any applicants for a job or interested parties in a position at the company, nor do they derogate or change other screening procedures that may be conducted by the company. Job ads and job offers are directed to both genders, even if not explicitly stated in the ad.</p>
            
            <p>27. The company's website uses "Cookies" for its regular and proper operation, including to collect statistical data about site usage, verify details, customize the site to your personal preferences, and for security needs. Modern browsers include the option to avoid receiving Cookies. If you do not know how to do this, check the help file of the browser you are using.</p>
            
            <p>28. The user is entitled to review the information held about them in the company's database.</p>
            
            <h2>Information Security:</h2>
            <p>29. The company does everything in its power and uses advanced technological and organizational security measures to secure the site and its communication methods and the information under its control against accidental or intentional exploitation, loss, destruction, or unauthorized or unauthorized access.</p>
            
            <p>30. Despite the above, the company cannot guarantee complete information security and preservation and does not guarantee that the site or its use will be entirely immune from unauthorized access to the information or content stored in it. Therefore, it is clarified that the company will not be responsible and will not bear any responsibility in case of penetration or hacking and/or any damage caused due to the use of the site and/or the content displayed on it and/or the services associated with it by the site user or anyone on their behalf.</p>
            
            <h2>Intellectual Property and Prohibited Uses on the Site:</h2>
            <p>31. The site and its content, including, without limiting the generality of the foregoing: trademarks, site design, graphics, logos, drawings, data, models, designs, illustrations, music, photos, images, maps, audio clips, video clips, text, graphics, etc. (hereinafter: "the Information") are protected by Israeli copyright law, international treaties, and the copyright laws of other countries, and in any case, belong to the company or other third parties. Use of the Information without the express prior written consent of the company is strictly prohibited and will constitute a violation of the company's rights by you.</p>
            
            <p>32. In addition, unless explicitly stated otherwise, the company owns all rights related to the content on the site, including text, images, graphics, sound files, animation files, video files, and their arrangement on the site. It is forbidden to use, copy, duplicate, reproduce, process, distribute, display, or publish site content or make any commercial or private use of it, directly or indirectly, without the express prior written consent of the company.</p>
            
            <p>33. The company name, in all its derivatives and brands, as well as the names of the sites linked to this site, and the domain names of the site(s), are protected trademarks of the company and its full and exclusive ownership. Nothing in accessing the site grants any license or rights in them.</p>
            
            <p>34. It is strictly forbidden to copy and/or duplicate and/or distribute and/or sell and/or publish and/or display in any media and/or use the Information and/or perform any action and/or use, including self-use and/or commercial use, directly or indirectly, and all the foregoing except if the company has explicitly permitted it in writing and in advance.</p>
            
            <p>35. The user agrees not to make or attempt to make any changes to the site and/or copy and/or download material stored on the site, including by means of: "Peep-Link", "Robot", "PageScrape", "Spider" or any other method, algorithm, or similar manual process, and not to download or copy and/or transfer to another material stored on the company's site that is not intended for download and/or transfer and/or not to attempt to gain access to transactions conducted by others by any means and/or not to perform any action that may harm the company's intellectual property, violate the privacy of other users and/or change information on the site and/or harm the site and/or its users.</p>
            
            <p>36. All intellectual property rights (whether registered rights or rights that have not yet been registered and/or are in the process of being registered), in connection with the Information and/or the site, including, without limiting the generality of the foregoing: copyrights, domain name, patents, trademarks, designs, copyrights, trade secrets, designs, trademarks, know-how, methods, the manner of presentation and design of the site, and any matter or detail related to the site, are the exclusive property of the company and/or the company is the licensee of their use, and the use of all these rights is exclusively permitted to it and/or according to the terms of the licenses granted to it.</p>
            
            <p>37. Without obtaining explicit prior written authorization from the company, you may not perform the following actions and/or deeds:</p>
                <p class="sub-numbered">37.1 Commercial use of the site and/or its content and/or use of the site and/or its content to create a database and/or collection;</p>
                <p class="sub-numbered">37.2 Copying, duplicating, modifying, processing, translating, performing reverse engineering, distributing, broadcasting, displaying, performing, reproducing, publishing, and storing the site's content, in whole or in part;</p>
                <p class="sub-numbered">37.3 Operating or allowing the operation of any computer application or any other means, including programs such as Crawlers, Robots, etc., for searching, scanning, copying, or automatic retrieval of the site's content;</p>
                <p class="sub-numbered">37.4 Displaying site content within a visible or hidden frame (iframe) or displaying the site's content in any way that changes its original design and/or omits any part;</p>
                <p class="sub-numbered">37.5 Disrupting or violating any rights of another user on the site and/or harming the dignity or privacy of another user and/or any other harm;</p>
                <p class="sub-numbered">37.6 Non-compliance with these restrictions may result in the prevention of your access to the site and may also expose you to civil and/or criminal liability according to any law.</p>
            
            <h2>Miscellaneous:</h2>
            <p>38. These terms of use (or any provisions thereof) do not create and will not be interpreted as creating any partnership, joint venture, employee-employer relationship, agent or proxy relationship between you and the company or anyone on its behalf in any way.</p>
            
            <p>39. The use of the site and/or any claim, demand, and/or request arising from this use will be governed solely by the laws of the State of Israel, and the place of jurisdiction will be in the courts of Tel Aviv, and the substantive and procedural law will be Israeli law, subject to the company's right to take legal action in the courts where the user's address and/or place of business and/or assets or part thereof are located, at the company's discretion.</p>
            
            <p>40. If any provision of these terms of use is found to be illegal, void, or unenforceable for any reason, that provision will be deleted from the terms of use, and its deletion will not affect the legality and validity of the remaining provisions.</p>
            
            <p>41. This document is written in masculine form for convenience only but refers to both men and women equally.</p>
        </div>
    </div>
    <footer>
        <div class="footer-column">
            <h2>Brands</h2>
            <ul>
                <li><a href="#">Adidas</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Jordan</a></li>
                <li><a href="#">New Balance</a></li>
                <li><a href="#">Converse</a><li>
                <li><a href="#">Vans</a></li>
                <li><a href="#">On Cloud</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>Customer Service</h2>
            <ul>
                <li><a href="../contect us/contect.html">Contact Us</a></li>
                <li><a href="/stores">Our Stores</a></li>
                <li><a href="../FAQ/faq.html">FAQ</a></li>
                <li><a href="/shipping">Shipping and Returns</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>About the Company</h2>
            <ul>
                <li><a href="../About us/about.html">About Us</a></li>
                <li><a href="./terms.html">Terms and Conditions</a></li>
                <li><a href="../privacy/privacy.html">Privacy Policy</a></li>
                <li><a href="../Accessibility/Accessibilty.html">Accessibility Statement</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
