<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="productpage.css">
    <title>Products</title>
</head>
<body>
    <header class="top">
        <div class="logo-photo">
            <img src="../../photos/logo.png" alt="Kickpulse Logo">
        </div>
        <div class="sign">
            <a href="../log in /login.html" class="sign-in-btn">Sign In</a> |<a href="../register/register.html">Join Now</a>
        </div>
        <div class="buttons-top">
            <button class="shopping-bag" aria-label="Shopping Bag">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
            </button>
            <button class="member" aria-label="Member Login">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
            </button>
        </div>
        <nav class="selection-topbuttons">
            <div class="dropdown">
                <button class="dropbtn">RELEASES</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">BRANDS</button>
                <div class="dropdown-content">
                    <a href="#">Adidas</a>
                    <a href="#">Nike</a>
                    <a href="#">Jordan</a>
                    <a href="#">New Balance</a>
                    <a href="#">Converse</a>
                    <a href="#">Vans</a>
                    <a href="#">On Cloud</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">KIDS</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">WOMEN</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">MEN</button>
                <div class="dropdown-content">
                    <a href="#">Sneakers</a>
                    <a href="#">Running Shoes</a>
                    <a href="#">Basketball Shoes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">NEW</button>
            </div>
        </nav>
    </header>
    <div class=tophead>
        !A Wise Sneakerhead Once Said: One Pair is Never Enough
    </div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="col9_img">
                        <img src="../../photos/adidasfrontpic.jpg" alt="Adidas Front Image">   
                    </div> 
                    <div class="product-grid-container">
                        <div class="product-grid" id="productGrid">
                            <div class="product-card">
                            
                                <img src="../../photos/campus1.webp" alt="ADIDAS CAMPUS 00s">
                                <div class="product-info">
                                    <h3>ADIDAS CAMPUS 00s</h3>
                                    <p>ADIDAS</p>
                                    <p class="price">110$</p>
                                </div>

                            </div>
                            <div class="product-card">
                                <img src="../../photos/airmax90.webp" alt="NIKE AIR MAX 90">
                                <div class="product-info">
                                    <h3>NIKE AIR MAX 90</h3>
                                    <p>NIKE</p>
                                    <p class="price">160$</p>
                                </div>
                            </div>
                            <div class="product-card">
                                <img src="../../photos/nb9060.webp" alt="NEW BALANCE 9060">
                                <div class="product-info">
                                    <h3>NEW BALANCE 9060</h3>
                                    <p>NEW BALANCE</p>
                                    <p class="price">270$</p>
                                </div>
                            </div>
                            <div class="product-card">
                                <img src="../../photos/nb9060.webp" alt="NEW BALANCE 9060">
                                <div class="product-info">
                                    <h3>NEW BALANCE 9060</h3>
                                    <p>NEW BALANCE</p>
                                    <p class="price">270$</p>
                                </div>
                            </div>
                            <div class="product-card">
                                <img src="../../photos/nb9060.webp" alt="NEW BALANCE 9060">
                                <div class="product-info">
                                    <h3>NEW BALANCE 9060</h3>
                                    <p>NEW BALANCE</p>
                                    <p class="price">270$</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>     
                <div class="col-md-3">   
                    <button class="collapsible">Gender</button>
                    <div class="content">
                        <ul>
                            <li><input type="checkbox"> Mens (51)</li>
                            <li><input type="checkbox"> Womens (20)</li>
                            <li><input type="checkbox"> Kids (302)</li>
                        </ul>
                    </div>
                    <button class="collapsible">Category</button>
                    <div class="content">
                        <ul>
                            <li><input type="checkbox">Sneakers (567)</li>
                            <li><input type="checkbox"> Running shoes(139)</li>
                            <li><input type="checkbox"> Basketball shoes (117)</li>
                        </ul>
                    </div>
                    <button class="collapsible">Brand</button>
                    <div class="content">
                        <ul>
                            <li><input type="checkbox"> Nike (157)</li>
                            <li><input type="checkbox"> adidas (57)</li>
                            <li><input type="checkbox"> Vans(149)</li>
                            <li><input type="checkbox"> Converse (10)</li>
                            <li><input type="checkbox"> On cloud(9)</li>
                            <li><input type="checkbox"> Jordan (14)</li>
                            <li><input type="checkbox"> New Balance(9)</li>
                        </ul>
                    </div>
                    <button class="collapsible">Size</button>
                    <div class="content">
                        <ul>
                            <li><input type="checkbox"> 3.5 (5)</li>
                            <li><input type="checkbox"> 4 (5)</li>
                            <li><input type="checkbox"> 4.5 (6)</li>
                            <li><input type="checkbox"> 5 (8)</li>
                            <li><input type="checkbox"> 6 (8)</li>
                            <li><input type="checkbox"> 7 (8)</li>
                            <li><input type="checkbox"> 7.5 (5)</li>
                            <li><input type="checkbox"> 8 (511)</li>
                            <li><input type="checkbox"> 8.5 (74)</li>
                            <li><input type="checkbox"> 9 (531)</li>
                            <li><input type="checkbox"> 9.5 (339)</li>
                            <li><input type="checkbox"> 10 (540)</li>
                        </ul>
                    </div>

                    <button class="collapsible">Price</button>
                    <div class="content">
                        <div class="price-range">
                            <input type="range" id="priceRange" name="priceRange" min="70" max="300" value="70" oninput="updatePriceRange()">
                            <p id="priceRangeLabel">From $70.00 - To $300.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="custom-footer">
        <div class="footer-column">
            <h2>Brands</h2>
            <ul>
                <li><a href="#">Adidas</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Jordan</a></li>
                <li><a href="#">New Balance</a></li>
                <li><a href="#">Converse</a></li>
                <li><a href="#">Vans</a></li>
                <li><a href="#">On Cloud</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>Customer Service</h2>
            <ul>
                <li><a href="../contect us/contect.html">Contact Us</a></li>
                <li><a href="/stores">Our Stores</a></li>
                <li><a href="../FAQ/faq.html">FAQ</a></li>
                <li><a href="../shipping & returns/shipping.html">Shipping and Returns</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>About the Company</h2>
            <ul>
                <li><a href="../About us/about.html">About Us</a></li>
                <li><a href="../terms and condition/terms.html">Terms and Conditions</a></li>
                <li><a href="../privacy/privacy.html">Privacy Policy</a></li>
                <li><a href="../Accessibility/Accessibilty.html">Accessibility Statement</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="productpage.js"></script>
</body>
</html>
